@import "tailwindcss/base";
@import "base/globals.css";

@import "tailwindcss/components";
@import "components/navigation.css";
@import "components/postlist.css";
@import "components/content.css";

@import "tailwindcss/utilities";

/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
body::-webkit-scrollbar {
    width: 20px;
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 999px;
    border: 8px solid #161618;
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {
    display:none;
}
